#indicator.open { background: #44ff44; }
#indicator.closed { background: #ff4444; }
div {
	padding: 4px;
}
div#navigation {
	background: navy;
}

#game-list {
	display: inline-block;
	padding: 5px;
	background: green;
}
#game-list li {
	display: inline; 
	margin: 1em;
}


#chat {
	background: aqua;
	display: inline-block;
	float: left;
	
	width: 48%;
}
#names { 
	vertical-align: top;
	padding: 5px;
	float: left;
	list-style-type: none;
	border: 1px solid black;
}
#log {
	vertical-align: top;
	padding: 5px;
	display: block;
	list-style-type: none;
	border: 1px solid black;

	margin-left: 20%;
}
#log > li {
	margin: 2px;
	padding: 2px;
}
.chat-message { 
	background: rgba(230, 230, 230, 0.5);
}
.from { 
	font-weight: bolder;
}
.from.system { 
	color: blue; 
}


#game-area {
	background: gray;
	display: inline-block;
	float: right;
	
	max-width: 50%;
}
div.play-container {
	width: 300px;
	display: inline-block;
}
div.play-container > * {
	width: 100%;
	text-align: center;
	display: block;
}
.close-button {
	margin-left: auto;
	margin-right: auto;
}


.player {
	border: 1px dashed blue;
	padding: 3px;
}
.game {
	border: 1px dashed green;
	background: rgba(230,250,230,0.4);
	padding: 3px;
}

